<template>
  <div>
    <!-- navigation bar -->
    <nav-bar />
    <h1>Add Category</h1>
    <!-- add data form using add-form component -->
    <add-form :show="show" :addData="addData" />
  </div>
</template>

<script>
import { mapState } from "vuex";

import NavBar from "../components/NavBar.vue";
import AddForm from "../components/AddForm.vue";

export default {
  name: "AddCategories",
  components: {
    "nav-bar": NavBar,
    "add-form": AddForm,
  },
  computed: {
    ...mapState({
      //show add form input filed
      show:'categoryShow',
      //add data variable
      addData: "categoryAddData",
    }),
  },
};
</script>
