<template>
  <div>
    <!-- navigation bar -->
    <nav-bar />
    <!-- show all data using shoe-table componet -->
    <show-table
      :headers="headers"
      :allData="allData"
      :title="title"
      :link='link'
      :show="show"
    />
  </div>
</template>

<script>
import { mapState } from "vuex";

import NavBar from "../components/NavBar.vue";
import ShowTable from "../components/ShowTable.vue";

export default {
  name: "AllCategories",
  data() {
    return {
      title: "All Categories",
      link:'/addcategory'
    };
  },
  components: {
    'nav-bar':NavBar,
    'show-table':ShowTable,
  },
  computed: {
    ...mapState({
      //show add  filed
      show: "categoryShow",
      //heading
      headers: "categoriesHeaders",
      // all data
      allData: "categoriesAllData",
    }),
  },
};
</script>

