<template>
  <div>
    <!-- navigation bar -->
    <nav-bar />
    <!-- show all data using shoe-table componet -->
    <show-table
      :headers="headers"
      :allData="allData"
      :title="title"
      :show="show"
      :link='link'
    />
  </div>
</template>

<script>
import { mapState } from "vuex";

import NavBar from "../components/NavBar.vue";
import ShowTable from "../components/ShowTable.vue";

export default {
  name: "AllItems",
  data() {
    return {
      title: "All Item",
      link:'/additem'
    };
  },
  components: {
    "nav-bar": NavBar,
    "show-table": ShowTable,
  },
  computed: {
    ...mapState({
      //show add  filed
      show: "itemShow",
      //heading
      headers: "itemsHeaders",
      // all data
      allData: "itemsAllData",
    }),
  },
};
</script>
