<template>
  <div>
    <!-- navigation bar -->
    <nav-bar />
    <h1>Home</h1>
    <!-- Home component for all link -->
    <home-component />
  </div>
</template>

<script>
import { mapState } from "vuex";

import NavBar from "../components/NavBar.vue";
import HomeComponent from "../components/HomeComponent.vue";

export default {
  name: "Home",
  components: {
    "nav-bar": NavBar,
    'home-component':HomeComponent,
  },
  computed: {
    ...mapState({
      itemsAllData: "itemsAllData",
      categoriesAllData: "categoriesAllData",
    }),
  },
};
</script>

<style>
h1 {
  margin-top: 30px;
  text-align: center;
}
</style>