<template>
  <div class="form">
    <form @submit.prevent="submit(addData)">
      <v-text-field
        label="Id"
        color="green darken-2"
        v-model="addData.id"
        prepend-icon="vpn_key"
        required
      ></v-text-field>

      <v-text-field
        label="Name"
        color="green darken-2"
        v-model="addData.name"
        prepend-icon="drive_file_rename_outline"
        required
      ></v-text-field>

      <v-select
        v-show="show"
        :items="selectCategoryItems"
        color="green darken-2"
        v-model="addData.category"
        active-class="green--text text--darken-3"
        label="Category"
        prepend-icon="category"
      ></v-select>

      <v-textarea
        color="green darken-2"
        rows="3"
        label="Description"
        v-model="addData.description"
        prepend-icon="description"
        required
      ></v-textarea>

      <v-layout row wrap class="ma-1">
        <v-flex sm8>
          <v-text-field
            label="Price"
            v-show="show"
            color="green darken-2"
            v-model="addData.price"
            prepend-icon="money"
            :required="show"
          ></v-text-field>
        </v-flex>
        <v-flex sm4>
          <v-select
            v-show="show"
            :items="selectCurrencyItems"
            color="green darken-2"
            v-model="addData.currency"
            active-class="green--text text--darken-3"
            label="Currency"
          ></v-select>
        </v-flex>
      </v-layout>

      <v-row>
        <v-switch
          v-model="addData.status"
          label="Status : "
          color="green darken-2"
          @change="changeSwitch()"
        ></v-switch>
        <v-input
          hint="Inactive"
          persistent-hint
          :messages="statusMessages"
          class="caption body-2 pa-5"
        ></v-input>
      </v-row>

      <div class="btn">
        <v-btn type="submit" class="green--text text--darken-3 mr-4">
          submit
        </v-btn>
        <v-btn class="green--text text--darken-3"> clear </v-btn>
      </div>
    </form>
  </div>
</template>


<script>
import { mapActions, mapState } from "vuex";
import mixins from "../mixins/mixins";

export default {
  name:'AddForm',
  props: ["show", "addData"],
  mixins: [mixins],
  data() {
    return {
      switchStatus: false,
    };
  },
  computed: {
    ...mapState({
      selectCurrencyItems: "selectCurrencyItems",
      selectCategoryItems: "selectCategoryItems",
    }),
  },
  methods: {
    ...mapActions({
      submitAddItem: "submitAddItem",
      submitAddCategory: "submitAddCategory",
    }),
  },
};
</script>

<style scoped>
.form {
  max-width: 500px;
  margin: 30px auto;
  padding: 40px;
  box-shadow: 0px 0px 3px 1px #ccc;
}
.form .btn {
  margin-top: 30px;
}
</style>