<template>
  <div>
    <v-container class="my-5">
      <v-layout row wrap>
        <v-flex xs12 md6>
          <v-card class="ma-3 pa-2 text-xs-center pink lighten-5">
            <v-card-text>
              <h1>All Categories</h1>
              <h3>
                <router-link to="/allcategories" class="link">All Categories</router-link>
                <router-link to="/addcategory" class="link">Add Category</router-link>
              </h3>
            </v-card-text>
          </v-card>
        </v-flex>
        <v-flex xs12 md6>
          <v-card class="ma-3 pa-2 text-xs-center orange lighten-5">
            <v-card-text>
              <h1>All Items</h1>
              <h3>
                <router-link to="/allitems" class="link">All Items</router-link>
                <router-link to="/additem" class="link">Add Item</router-link>
              </h3>
            </v-card-text>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
export default {
    name:'HomeComponent'
};
</script>

<style scoped>
h3 {
  margin: 40px 0px 10px 0px;
  display: flex;
  justify-content: space-around;
  text-decoration: none;
}
h3 .link {
  text-decoration: none;
  color: #363636;
}
</style>