<template>
  <nav>
    <v-toolbar color="green darken-3 white--text">
      <v-app-bar-nav-icon v-on:click="drag = !drag"></v-app-bar-nav-icon>
      <v-toolbar-title class="text-uppercase gray--text">
        <h2 class="text-uppercase ml-16">
          <span class="font-weight-light">Inventory</span>
          <span class="font-weight-bold">System</span>
        </h2>
      </v-toolbar-title>
      <v-spacer></v-spacer>

      <v-menu offset-y>
        <template v-slot:activator="{ on, attrs }">
          <v-btn v-bind="attrs" v-on="on" class="mx-5">
            <v-icon left class="mx-2"> expand_more </v-icon>
            <span class="mx-2"> Menu </span>
          </v-btn>
        </template>
        <v-list>
          <v-list-item router to="/">
            <v-list-item-title class="mx-2"> Home </v-list-item-title>
          </v-list-item>
          <v-list-item router to="/allcategories">
            <v-list-item-title class="mx-2"> All Categories </v-list-item-title>
          </v-list-item>
          <v-list-item router to="/allitems">
            <v-list-item-title class="mx-2"> All Items </v-list-item-title>
          </v-list-item>
        </v-list>
      </v-menu>

      <v-toolbar-title>
        <div class="logo mx-16">
          <v-icon class="icon">inventory</v-icon>
        </div>
      </v-toolbar-title>
    </v-toolbar>

    <v-navigation-drawer v-model="drag" flot app temporary>
      <left-menu />
    </v-navigation-drawer>
  </nav>
</template>


<script>
import LeftMenu from "./LeftMenu.vue";

export default {
  name:'NavBar',
  data() {
    return {
      drag: false,
    };
  },
  components: {
    "left-menu": LeftMenu,
  },
};
</script>

<style scoped>
.logo {
  margin: 5px;
  width: 50px;
  height: 50px;
  background: #fff;
  text-align: center;
  padding: 8px;
  border-radius: 50%;
  box-shadow: 0px 0px 3px 1px #94ff73;
  cursor: pointer;
}
.logo .icon {
  font-size: 30px;
  color: #008106;
}
</style>

