<template>
  <div class="table">
    <v-data-table
      :headers="headers"
      :items="allData"
      sort-by="id"
      class="elevation-5 ma-16 caption"
    >
      <template v-slot:top>
        <v-toolbar flat>
          <v-toolbar-title>
            <h2 class="ma-16 mt-10">{{ title }}</h2>
          </v-toolbar-title>
          <v-spacer></v-spacer>
          <router-link :to='link' >
            <v-btn class="px-10 green darken-3" dark> Add </v-btn>
          </router-link>
        </v-toolbar>
      </template>

      <template v-slot:item.price="{ item }">
        {{ item | changePrice }}
      </template>

      <template v-slot:item.status="{ item }">
        <!-- <h4 :class="getColor(item.status)"> -->
        <h4 v-textColor="item.status">
          {{ item.status }}
        </h4>
      </template>

      <template v-slot:item.actions="{ item }">
        <span class="mr-2 actions">
          <update-box :show="show" :title="title" :data="item" />
        </span>
        <v-icon
          class="red--text text--lighten-1 actions"
          @click="deleteData(item)"
        >
          mdi-delete
        </v-icon>
      </template>
    </v-data-table>
  </div>
</template>

<script>
import { mapActions } from "vuex";
import UpdateBox from "./UpdateBox.vue";
import mixins from "../mixins/mixins";

export default {
  name: "ShowTable",
  props: ["headers", "allData", "title", "show",'link'],
  mixins: [mixins],
  components: {
    "update-box": UpdateBox,
  },
  methods: {
    ...mapActions({
      deleteItemData: "deleteItemData",
      deleteCategoryData: "deleteCategoryData",
    }),
  },
};
</script>

<style scoped>
.table {
  width: 80%;
  margin: 20px auto;
}
.actions {
  cursor: pointer;
}
</style>