<template>
  <v-dialog v-model="dialog" persistent max-width="600px">
    <template v-slot:activator="{ on, attrs }">
      <v-icon color="primary lighten-2" dark v-bind="attrs" v-on="on">
        mdi-pencil
      </v-icon>
    </template>
    <v-card>
      <v-card-title>
        <span class="text-h5"> Update </span>
      </v-card-title>
      <v-card-text>
        <v-text-field
          label="Id"
          color="green darken-2"
          v-model="data.id"
          prepend-icon="vpn_key"
          disabled
        ></v-text-field>

        <v-text-field
          label="Name"
          color="green darken-2"
          v-model="data.name"
          prepend-icon="drive_file_rename_outline"
          required
        ></v-text-field>

        <v-select
          v-show="show"
          :items="selectCategoryItems"
          color="green darken-2"
          v-model="data.category"
          active-class="green--text text--darken-3"
          label="Category"
          prepend-icon="category"
        ></v-select>

        <v-textarea
          color="green darken-2"
          rows="3"
          label="Description"
          v-model="data.description"
          prepend-icon="description"
          required
        ></v-textarea>

        <v-layout row wrap class="ma-1">
        <v-flex sm8>
          <v-text-field
            label="Price"
            v-show="show"
            color="green darken-2"
            v-model="data.price"
            prepend-icon="money"
            :required="show"
          ></v-text-field>
        </v-flex>
        <v-flex sm4>
          <v-select
            v-show="show"
            :items="selectCurrencyItems"
            color="green darken-2"
            v-model="data.currency"
            active-class="green--text text--darken-3"
            label="Currency"
          ></v-select>
        </v-flex>
      </v-layout>

        <v-row class="mt-2 ml-3">
          <v-switch
            v-model="data.status"
            label="Status : "
            color="green darken-2"
            @change="changeSwitch()"
          ></v-switch>
          <v-input
            hint="Inactive"
            persistent-hint
            :messages="statusMessages"
            class="caption body-2 pa-5"
          ></v-input>
        </v-row>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="green darken-1" text @click="editData(data)">
          Save
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
<script>
import { mapActions, mapState } from "vuex";
import mixins from "../mixins/mixins";

export default {
  name: "UpdateBox",
  props: ["show", "title", "data"],
  mixins: [mixins],
  data: () => ({
    dialog: false,
    switchStatus: false,
  }),
  computed:{
     ...mapState({
      selectCurrencyItems: "selectCurrencyItems",
      selectCategoryItems: "selectCategoryItems",
    }),
  },
  methods: {
    ...mapActions({
      editItemData: "editItemData",
      editCategoryData: "editCategoryData",
    }),
  },
  updated() {
    // for switch
    if (this.dialog == true) {
      if (this.data.status == "Active") {
        this.data.status = true;
        this.switchStatus=true
      }
      if (this.data.status == "Inactive") {
        this.data.status = false;
        this.switchStatus=false
      }
    }
  },
};
</script>